i.fas.fa-users.icontext {
  margin-right: 5px;
}
i.fas.fa-clock.icontext {
  margin-right: 5px;
}
.lastPostDate {
  margin-left: 2px;
}
h3.DiscussionListItem-title {
  width: 100%;
}
i.item-excerpt {
  width: 100%;
}
